fastapi>=0.104.1
uvicorn>=0.24.0
pydantic>=2.5.2
pandas>=2.0.0
requests>=2.31.0
# Google Cloud libs (Let pip resolve versions to avoid grpcio crashes)
earthengine-api
google-auth
google-cloud-bigquery
db-dtypes
